{{!< default}}

  <div id="blog" class="main-post-list">

    <ol class="post-list">
      {{#foreach posts}}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
        <p class="excerpt">{{excerpt}}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-list__meta--tags tags">{{tags prefix="on "}}</span></div>
        <hr class="post-list__divider" />
      </li>
      {{/foreach}}
    </ol>

    {{pagination}}

  </div>

  <div id="outdoorsy">
    <h1><img src={{asset "images/outdoorsy/logo.png" }} class="logo" /><a href="http://getoutdoorsyapp.com">Outdoorsy</a></h1>
    <ul class="rslides">
        <li><img src={{asset "images/outdoorsy/1.png"}} /></li>
        <li><img src={{asset "images/outdoorsy/2.png"}} /></li>
        <li><img src={{asset "images/outdoorsy/3.png"}} /></li>
        <li><img src={{asset "images/outdoorsy/4.png"}} /></li>
    </ul>

    <div class="body-text">
        <h2>Inception</h2>
        <p>
            Outdoorsy started with my friend Matt Klaman pondering if there could be a simple way to find people nearby who wanted to do outdoor sports and activities.
        </p>
        <h2>Features</h2>
        <p>
            Outdoorsy is the first and only app that allows you to connect with old friends and meet new friends to get outdoors. Whether running, biking, kayaking, hiking or surfing, Outdoorsy allows you to easily explore, create and share outdoor events.
            Link up with your friends, or make new ones.  Find who is doing Outdoorsy activities by browsing the map.
        </p>
        <p>
            Security is one of our foremost concerns. If you are not friends, we show only the general area of the event until you have been accepted to the event.
        </p>

        <a href="https://itunes.apple.com/us/app/outdoorsy/id696441850">Download on the AppStore now</a>

        <br />
        <br />
    </div>
  </div>

  <div id="isms">
    <h1><img src={{asset "images/isms/logo.png" }} class="logo" /><a href="https://thatsanism.com">-isms</a></h1>
    <ul class="rslides">
        <li><img src={{asset "images/isms/1.png"}} /></li>
        <li><img src={{asset "images/isms/2.png"}} /></li>
        <li><img src={{asset "images/isms/3.png"}} /></li>
        <li><img src={{asset "images/isms/4.png"}} /></li>
        <li><img src={{asset "images/isms/5.png"}} /></li>
    </ul>

    <div class="body-text">
        <h2>Inception</h2>
        <p>
            -isms was an app that started off when a couple friends and I went to Sasquatch Music Festival (which I highly recommend.) During that trip, there were a lot of strange jokes and strange things overheard from our crazy camp neighbors - they all were collected in notes on our phones. Fast forward a couple of years - I found a friend of mine was making notes in his iPhone of all the funny things his friend was saying and then texting them to people.
            <br /><br />
            This is where -isms was born...
        </p>
        <h2>Features</h2>
        <p>
            A way for you to share those things your friends (or that crazy checkout guy at Kroger) say and share them with ONLY WHO YOU WANT TO. It is a fun way for to share each other's personalities or jokes that only certain people would (or should) understand.
            If your friend says it - credit the -ism to that user.  If the credited person wants to own up to what was said, it goes on the user's profile - and then shared with all of the user's friends! Otherwise... it's kept it under wraps.
        </p>

        <a href="https://itunes.apple.com/us/app/id844775875">Download on the AppStore now</a>

        <br />
        <br />
    </div>
  </div>